<html>
<head>
	<meta charset="utf-8">
  	<title>Forum</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://localhost:3000/skeleton.css">
		<link rel="stylesheet" href="http://localhost:3000/normalize.css">
		<link rel = "stylesheet" type = "text.css" href= "http://localhost:3000/style.css">
</head>
	<body>
		<div class="container">
			<div class="sixteen columns">	
		<h1>Welcome to the Forum</h1>
			</div>
			<div class="sixteen columns">
			<% thread.forEach(function(thread){ %>
				    
				<h2>Title: <a href="/threads/<%= thread.id %>"><%= thread.title %></a></h2>
				<h3>Author: <%= thread.user_name %></h3>
				<h4>Post: <%= thread.content %></h4>
				<p>votes: <%= thread.votes %></p>
				
				<% var counter = 0 %>
				<% comments.forEach(function(commentcount){ %>
				<% if (commentcount.thread_id == thread.id)	{ counter ++} %>
				<%	}) %>
				<p>comment number:<%= counter %></p>
				
			<% }) %>
			</div
			
		<HR><BR><BR>

		<a href ="/threads/new">Create a new topic.</a><BR>

		<a href ="/users/new">Create a new user.</a>

		</div
	</body>
</html>