<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/skeleton.css">
	<link rel="stylesheet" href="/normalize.css">
	<link rel = "stylesheet" type = "text.css" href= "/style.css">
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div class="container">
			<div class="sixteen columns">
				<h1>Welcome to the Forum</h1>
				<hr />
			</div>
		<div class="five columns">
			<h4>Title: <%= thread.title %></h4>
		</div>
		<div class="four columns">
			<h4>Author: <%= thread.user_name %></h4>	
		</div>	
		<div class="one columns">
			<img src="<%= thread.user_avatar %>" width="50" height="auto">
		</div>
		<div class="fifteen columns">
			<p>Post: <%= thread.content %></p>
			<hr />
		</div>
		<div class="six columns">
			<p>Votes: <%= thread.votes %></p>
		</div>
		

		
		<% var counter = 0 %>
<div class="container">
	<div class="sixteen columns">
		<% commentname.forEach(function(user){ %>
		<%if (user.thread_id == thread.id) { %>
		
		
		<p><img src="<%= user.user_avatar %>" width="50" height="auto"> Comment Author: <%= user.user_name %><BR>
		Comment: <%= user.content %></p>
		
		
		
		<% counter ++ %>
		<% } %>
		
		<% }) %>
	</div>
</div>
		
		<div class="sixteen columns">
		<p>Number of Comments: <%= counter %></p>
		</div>


			

			
		
		<div class="sixteen columns">
			<form action="/threads/<%= thread.id %>/comments" method="POST">
				<textarea name="content" placeholder="leave a comment" width="500px";></textarea></br>
				<button name="button2">Submit comment</button>
				<select name="comment_author_id">
				<% user.forEach(function(usr){ %>
 			 	<option value="<%= usr.user_id %>"><%= usr.user_name %></option> <% }) %>
				</select>
			</form>
		<div>
<div class="five columns">
	<form action="/threads/<%= thread.id %>?_method=DELETE" method="POST">
	<button name="button3">Delete this Thread</button>
	</form>
</div>
<div class="five columns">
			<form action="/threads/<%= thread.id %>/votes" method="POST">
				<button name="button1">Vote for this post.</button>
			</form>
		</div>
	
	<div class="10 columns">
	
		<a href ="/threads/">Back to the Forum.</a><BR>
	</div>

		</div>
</div>
</div>
</div>
	</div>	
	</body>
</html>