<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://localhost:3000/skeleton.css">
		<link rel="stylesheet" href="http://localhost:3000/normalize.css">
		<link rel = "stylesheet" type = "text.css" href= "http://localhost:3000/style.css">
	</head>

	<body>
		<div class="container">
			<div class="sixteen columns">
				<p>Forum</p>
			</div>
		<div class="six columns">
			<p>Title: <%= thread.title %></p>
		</div>
		<div class="three columns">
			<p>Author: <%= thread.user_name %></p>	
		</div>	
		<div class="two columns">
			<img src="<%= thread.user_avatar %>" width="50" height="auto">
		</div>
		<div class="sixteen columns">
			<p>Post: <%= thread.content %></p>
		</div>
		<div class="six columns">
			<p>votes: <%= thread.votes %></p>
		</div>
		

		
		<% var counter = 0 %>
<div class="container">
	<div class="sixteen columns">
		<% commentname.forEach(function(user){ %>
		<%if (user.thread_id == thread.id) { %>
		
		
		<p><img src="<%= user.user_avatar %>" width="50" height="auto"> author: <%= user.user_name %><BR>
		comment: <%= user.content %></p>
		
		
		
		<% counter ++ %>
		<% } %>
		
		<% }) %>
	</div>
</div>
		
		<div class="sixteen columns">
		<p>Number of comments: <%= counter %></p>
		</div>


			

			
		
		<div class="sixteen columns">
			<form action="/threads/<%= thread.id %>/comments" method="POST">
				<textarea name="content" placeholder="leave a comment"></textarea></br>
				<button name="button2">Submit comment</button>
				<select name="comment_author_id">
				<% user.forEach(function(usr){ %>
 			 	<option value="<%= usr.user_id %>"><%= usr.user_name %></option> <% }) %>
				</select>
			</form>
		<div>
<div class="sixteen columns">
	<form action="/threads/<%= thread.id %>?_method=DELETE" method="POST">
	<button name="button3">Delete this Thread</button>
	</form>
</div>

			<form action="/threads/<%= thread.id %>/votes" method="POST">
				<button name="button1">Vote for this post.</button>
			</form>
		

		</div>
</div>
</div>
</div>
	</div>	
	</body>
</html>